li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #ffff;
    font-size: 1rem;
}

a:hover {
    color: orange;
}

/* Header */
header {
    position: relative;
    padding: 0 2rem;
    background-color: black;
}

.navbar {
    width: 100%;
    height: 59px;
    max-width: 1150px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo {
    flex-grow: 1;
    display: block;
}

.navbar .logo a {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar .liens {
    display: flex;
    gap: 2rem;
}

.navbar .action_btn {
    background-color: orange;
    color: #ffff;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2s ease;
}

.navbar .action_btn:hover {
    transform: scale(1.05);
    color: orange; 
    background-color: #ffff;
    border: 2px solid orange;
}

.navbar .action_btn:active {
    transform: scale(0.95);
}

/* language menu */

.menu-lang {
    margin-top: 5px;
    position: relative;
}

.selected-lang {
    cursor: pointer;
    color: #ffff;
    display: flex;
    justify-content: space-between;
    line-height: 2;
    width: 110px;
}

.selected-lang:before { 
    content: '';
    display: block;
    width: 32px;
    height: 32px;
    background-image: url(https://flagsapi.com/FR/flat/32.png);
}

.menu-lang ul{
    margin: 0;
    padding: 0;
    background-color: #000000;
    border: 1px solid #000000;
    box-shadow: 0px 1px 10px rgba(207, 206, 206, 0.2);
    border-radius: 5px;
    display: none;
    position: absolute;
    top: 33px;
    left: -10px;
}

.menu-lang ul li {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.menu-lang ul li a {
    display: block;
    width: 150px;
    padding: 5px 10px;
}

.menu-lang ul li a:hover {
    background-color: #313131;
    color: #ffff;
}

.menu-lang ul li a:before {
    content: '';
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-right: 10px;
    vertical-align: middle;
    /*background-image: url(https://flagsapi.com/FR/flat/32.png);*/
}

.en:before {
    background-image: url(https://flagsapi.com/GB/flat/32.png);
}

.sp:before {
    background-image: url(https://flagsapi.com/ES/flat/32.png);
}

.menu-lang:hover ul{
    display: block;
}
