@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* Réinitialisation des styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
}

/* Styles généraux */
body {
    background-color: antiquewhite;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: scroll; /* Modification de la propriété */
    /* Déplacer cette ligne après les autres propriétés de fond */
    
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #ffff;
    font-size: 1rem;
}

a:hover {
    color: orange;
}

/* Header */
header {
    position: relative;
    padding: 0 2rem;
    background-color: black;
}

.navbar {
    width: 100%;
    height: 59px;
    max-width: 1150px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar .liens {
    display: flex;
    gap: 2rem;
}

.navbar .action_btn {
    background-color: orange;
    color: #ffff;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2s ease;
}

.navbar .action_btn:hover {
    transform: scale(1.05);
    color: #ffff; 
}

.navbar .action_btn:active {
    transform: scale(0.95);
}

/* language menu */

.menu-lang {
    margin-top: 5px;
    position: relative;
}

.selected-lang {
    cursor: pointer;
    color: #ffff;
    display: flex;
    justify-content: space-between;
    line-height: 2;
    width: 110px;
}

.selected-lang:before { 
    content: '';
    display: block;
    width: 32px;
    height: 32px;
    background-image: url(https://flagsapi.com/FR/flat/32.png);
}

.menu-lang ul{
    margin: 0;
    padding: 0;
    background-color: #000000;
    border: 1px solid #000000;
    box-shadow: 0px 1px 10px rgba(207, 206, 206, 0.2);
    border-radius: 5px;
    display: none;
    position: absolute;
    top: 33px;
    left: -10px;
}

.menu-lang ul li {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.menu-lang ul li a {
    display: block;
    width: 150px;
    padding: 5px 10px;
}

.menu-lang ul li a:hover {
    background-color: #313131;
    color: #ffff;
}

.menu-lang ul li a:before {
    content: '';
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-right: 10px;
    vertical-align: middle;
    /*background-image: url(https://flagsapi.com/FR/flat/32.png);*/
}

.en:before {
    background-image: url(https://flagsapi.com/GB/flat/32.png);
}

.sp:before {
    background-image: url(https://flagsapi.com/ES/flat/32.png);
}

.menu-lang:hover ul{
    display: block;
}



/* Dropdown Menu */
.dropdown_menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open {
    height: 240px;
}

.dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .action_btn {
    width: 100%;
    display: flex;
    justify-content: center;
}

section#hero {
    min-height: calc(100vh - 59px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: black;
    background-color: antiquewhite;
    background-image: url('https://pbs.twimg.com/media/Cd-yf3RUkAA8CEz.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
}

#hero h1 {
    font-size: 3.5rem;
    margin-bottom: 1rem;
    color: white;
    transition: transform 0.3s ease;
    
}

#hero p {
    color :white;
    transition: transform 0.3s ease;
}

#hero h1:hover{
    color:orange;
}

#hero p:hover{
    color : orange;
}
/* retarde laffichage du texte de bienvenue*/
#hero h1, #hero p {
    opacity: 0; /* Rend initialement le texte invisible */
    animation: fadeIn 0.5s ease 0.5s forwards; /* Ajoute l'animation fadeIn avec un délai de 1 seconde */
}

@keyframes fadeIn {
    from { opacity: 0; } /* Début de l'animation avec une opacité de 0 */
    to { opacity: 1; } /* Fin de l'animation avec une opacité de 1 */
}

.box-container{
    display : flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    background-color: #EDEFF2;
}


.box-container .box p{
    color: black;
}

.box-container .box {
    height: 20rem;
    width: 25rem;
    background: white;
    text-align: center;
    border-radius: 1rem;
    box-shadow: 0 .3rem .5rem rgba(0,0,0,.5) ;
    margin: 2rem;
    cursor: pointer;
    background-image: url('https://cdn.pixabay.com/photo/2016/08/25/07/30/orange-1618917_1280.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-container .box b{

    font-weight: bold;
    font-size : 2.3rem;
}

.box-container .vertical-text {
    
    transform: rotate(-90deg);
    transform-origin: left top;
    white-space: nowrap;
    position: absolute;
    top: 97%;
    left: 5px; /* Ajustez cette valeur selon vos besoins */
    color: orange; /* Couleur du texte */
    font-weight: bold; /* Gras pour le texte */
    font-size: 2.8rem; /* Taille de la police */
}


.box:hover {
    transform: scale(1.1); /* Grossissement de 10% */
    transition: transform 0.3s ease; /* Ajout d'une transition fluide */
    color: orange;
}

.box-container .box a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    text-decoration: none; /* Supprime le soulignement du lien */
    color: inherit; /* Hérite de la couleur du texte de la boîte */
}

.box-container .box:hover p {
    opacity: 1; /* Rend le texte visible au survol */
    
}



/* Partie box information */

.container-information{
    display : flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    background-color: white;
    
}

.container-information .box-info {
    height: 20rem;
    width: 25rem;
    background: white;
    text-align: center;
    border-radius: 1rem;
    box-shadow: 0 .3rem .5rem rgba(0,0,0,.5) ;
    margin: 3.8rem;
    cursor: pointer;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    align-items: center;
    justify-content: center;
}

.container-information {
    
    display: flex;
    justify-content: space-around; /* Pour espacer également les boîtes */
    align-items: center; /* Pour centrer verticalement le contenu */
}

.container-information .box-info {
    text-align: center; /* Pour centrer le contenu à l'intérieur de chaque boîte */
    padding: 1rem;

    
}

.container-information .box-info h1{
    color :orange;
    font-weight: bold;
    font-size: 2.8em;
}

.container-information .box-info h2{
    font-weight: bold;
    font-size: 2rem;
}

.container-information .box-info p{
    padding : 1.5rem;
}

.chiffre{
    padding : 1.7rem;
    text-align: center;
    background-color: white;
}

.chiffre h1{
    font-weight: bold;
    color : orange;
}

.chiffre:hover + .container-information .box-info {
    transform: scale(1.05); /* Augmente légèrement la taille des cases */
    transition: transform 0.3s ease; /* Ajoute une transition fluide */
}
