@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "Montserrat", sans-serif;
}


.Lien {
   margin-bottom: 50vh;
   width: 100%;
   display: flex;
   justify-content: center;
   padding: 0 300px;
}
.Lien a{
   color: black;
   text-decoration: underline;
   width: 100px;
   height: 100px;
   cursor: pointer;
}

.Lien a:hover{
   color: orange;
}

.Lien button[type="button"]{
   border: 1px solid black;
   padding: 10px;
   display: inline-block;
   margin: 10px auto;
   border-radius: 10px;
   background-color: #f2f2f2;
   margin-top: 15px;
   margin-left: 15px;
   cursor: pointer;
}

.Lien button[type="button"]:hover{
   border: 1px solid orange;
   color: orange;
}

input[type="submit"]{
   margin-top: 15px;
   margin-left: 15px;
   background-color: #f2f2f2;
   color: black;
   border: 1px solid #f2f2f2;
   cursor: pointer;
   border-radius: 10px;
   padding: 5px;
   margin-bottom: 20px;
}

input[type="submit"]:hover{
   color: orange;
   border: 1px solid orange;
}

form{
   margin-top: 15px;
   margin-left: 15px;   
}

input[type="text"], textarea {
   margin: 10px 0; 
   padding: 10px; 
   min-width: 600px;
   border: 1px solid #f2f2f2; 
   border-radius: 5px; 
}

table {
   border-collapse: collapse;
   width: 80%; /* Largeur du tableau */
   max-width: 800px; /* Largeur maximale du tableau */
   margin: 20px auto 0; /* Centrer le tableau horizontalement */
}

th, td {
   border: 1px solid black;
   padding: 8px;
   text-align: center;
}

th {
   background-color: #f2f2f2;
}


/* delete */

.deleteHeader {
   display: flex;
   justify-content: center;
   max-width: 600px;
   width: 100%;
   margin-bottom: 20px;
}

.deleteHeader h2 {
   display: flex;
   /* flex-grow: 2; */
}

.deleteHeader button {
   color: rgb(0, 0, 0);
   background-color: aliceblue;
   border: solid 2px rgb(0, 0, 0);
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 10px;
   padding: 6px;
   cursor: pointer;
   margin-left: 50px;
   /* flex-grow: 3; */
}

.deleteHeader button:hover {
   color: orange;
   border: solid 2px orange;
}

.liste {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.faq.active {
   background-color: white;
   max-width: 600px;
   border-radius: 10px;
   margin: 10px;
   padding: 20px;
   width: 100%;
   display: flex;
   justify-content: center;
}
.fa-chevron-down.active2 {
   transform: rotate(180deg); /* Rotation de 180 degrés lorsqu'il est actif */
}
.questRep {
   display: flex;
   flex-direction: column;
   margin-right: 15px;
}
.accordion {
   padding: 8px;
   color: rgb(80, 80, 80);
   border: 2px solid rgb(80, 80, 80);
   border-radius: 10px;
   cursor: pointer;
}
.accordion:hover {
   color: rgb(0, 0, 0);
   border: 2px solid rgb(0, 0, 0);
}
.pannel {
   margin-top: 5px;
   display: none;
}
.btnDelete {
   color:rgb(250, 95, 95);
   background-color : rgb(255, 255, 255);
   border-radius: 10px;
   border: 2px solid rgb(250, 95, 95);
   padding: 8px;
   cursor: pointer;
}

.btnDelete:hover {
   background-color : rgb(255, 241, 241);
}


/* ajouter évènement */

.adminMain button {
   appearance: none;
   border: 0px;
   background-color: aliceblue;
}
.retourBtn a {
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: rgb(246, 251, 255);
   border: solid 1px orange;
   border-radius: 20px;
   text-decoration: none;
   padding: 5px;
   width: 100px;
   color: orange;
}
.retourBtn a:hover {
   border: solid 2px orange;
}

.adminBody {
   background-color: rgb(246, 251, 255);
}

.adminMain {
   padding: 30px;
}

.gestionTitre {
   display: flex;
   align-items: center;
   justify-content: center;
   margin-top: 60px;
   width: 100%;
   height: 35px;
}
.gestionTitre h2 {
   color: orange;
}
.Admin{
   cursor: pointer;
   text-decoration: none;
   display: flex;
   justify-content: center;
   color: black;
   margin-right: 10px;
}

.ajoutContainer {
   display: flex;
   flex-direction: column;
   justify-content: center;
   background-color: white;
   border-radius: 10px;
   padding: 30px;
   margin: 40px 0;
   box-shadow: 0px 0px 10px 0px rgba(185, 185, 185, 0.5);
}

.sousTitre {
   margin-bottom: 20px;
   margin-left: 20px;
   color: orange;
   display: flex;
   align-items: center;
   cursor: pointer;
   width: 400px;
}
.sousTitre:hover {
   color: rgb(0, 0, 0);
}
.sousTitre h2{
   margin-right: 10px;
}

.champs {
   display: flex;
   width: 100%;
   justify-content: space-around;
}


.ajoutChamp {
   display: flex;
   flex-direction: column;
   width: 200px;
   margin-bottom: 10px;
}

.ajoutChamp label {
   margin-bottom: 5px;
}
.ajoutChamp input {
   border: solid 1px black;
   height: 25px;
   border-radius: 20px;
   padding: 10px;
}
.champ2 {
   display: flex;
   justify-content: space-between;
}
.ajoutChamp.imag {
   width: 500px;
}
.ajoutChamp input:hover {
   border: solid 2px orange;    
}
.ajoutChamp input:focus {
   border: 2px solid orange;    
}

.ajouterBtn {
   display: flex;
   justify-content: center;
   align-items: center;
   cursor: pointer;
   border: solid 2px orange;  
   background-color: white;
   color: orange;
   padding: 8px;
   border-radius: 20px;
   margin-top: 30px;
   margin-left: 85px;
}

.ajouterBtn:hover {
   color: #fdc482;
   border-color: #fdc482;
}


.fa-chevron-down {
   transform: rotate(0deg); 
   transition: transform 0.3s ease; 
}

.hidden {
   display: none; 
}