/* AUTHENTIFICATION ----- Cette feuille de style contiendra les 
styles spécifiques aux pages de connexion, d'inscription et aux éléments associés à la gestion de 
compte utilisateur. */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url(header.css);

/* Inscription */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

font{
    background-color:  #17a2b8;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;   
}

form{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 10px;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

form .BoutonInscrire{
    margin-top: 15px;
    background-color: #17a2b8;
    color: #fff;
    border: 1px solid #17a2b8;
    cursor: pointer;
    border-radius: 10px;
    height: 30px;
}

.BoutonInscrire:hover{
    color: black;
}

form .BoutonConnecter{
    margin-top: 15px;
    background-color: #17a2b8;
    color: #fff;
    border: 1px solid #17a2b8;
    cursor: pointer;
    border-radius: 10px;
    height: 30px;
}

.BoutonConnecter:hover{
    color: black;
}

h4{
    text-align: center;
    font-size: 20px;
}

hr{
    margin: 10px 0;
    background-color: #ccc;
    border: 0;
    height: 1px;
    width: 100%;

}

.name-field{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.name-field div{
    display: flex;
    flex-direction: column;

}

.name-field div{
    width: 49%; 
}

label{
    margin-bottom: 6px;

}

input{
   margin-bottom: 5px; 
   padding: 5px;
   outline: 0;
   border: 1px solid rgba(0,0,0,0.4);
}

input:focus{
    border: 1px solid #17a2b8;
}

input[type="submit"]{
    margin-top: 15px;
    background-color: #17a2b8;
    color: #fff;
    border: 1px solid #17a2b8;
    cursor: pointer;
    border-radius: 10px;
}

input[type="submit"]:hover{
    color: black;
}

p{
    text-align: center;
    margin: 5px 0;
    font-size: 14px;
}

p a {
    text-decoration: 0;
    color: #17a2b8;
}

p a:hover{
    text-decoration: underline;

}

/* Login */


body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(https://media.timeout.com/images/105976410/750/562/image.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.boutonconnexion{
    background-color: orangered; /* Couleur de fond */
    border: none; /* Pas de bordure */
    color: black; /* Couleur du texte */
    padding: 15px 32px; /* Espacement à l'intérieur du bouton */
    text-align: center; /* Alignement du texte */
    text-decoration: none; /* Pas de soulignement */
    display: inline-block; /* Afficher en ligne */
    font-size: 16px; /* Taille de la police */
    margin: 4px 2px; /* Marge autour du bouton */
    cursor: pointer; /* Curseur au survol */
    border-radius: 10px; /* Bordure arrondie */
}
.boutonconnexion:hover {
    background-color: blue; /* Changement de couleur de fond au survol */
}
.wrapper{
    width: 420px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgb(0, 0, 0, .2);
    color: rgb(53, 51, 51);
    border-radius: 10px;
    padding: 30px 40px;
}

.wrapper h1{
    font-size: 36px;
    text-align: center;
}

.wrapper .input-box {
    width: 300px;
    height: 40px;
    margin: 70px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
    color: #fff;

}

.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50px);
    font-size: 20px;

}

.wrapper .remember-forgot{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}

.remember-forgot label input{
    accent-color: #fff;
    margin-right: 3px;

}

.remember-forgot a {
    color: #fff;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.wrapper .btn {
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0,0,0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}

.wrapper .register-link {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;

}

.register-link p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover {
    text-decoration:  underline;
}
