.body{
    background-color: white;
}

.commentaire {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    justify-content: center;
    margin-left: 2%;
    margin-right: 2%;
}

.contenue {
    border-radius: 10px;
    border: 2px solid orange;
    background-color: white;
    padding: 10px;
    word-wrap: break-word;
}

.bouton-page {
    display: inline-block;
    padding: 5px 10px;
    border: 2px solid orange;
    background-color: white;
    color: orange;
    text-decoration: none;
    border-radius: 5px;
    margin-right: 10px;
}

.bouton-precedent {
    margin-left: 24.5%;
}

.bouton-suivant {
    margin-left: 46%;
}

.bouton-page:hover {
    background-color: orange;
    color: black;
}

/*Envoie de commantaire*/

.comment-container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.comment{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}

.comment-left-title h2{
    font-weight: 600;
    color: orange;
    font-size: 40px;
    margin-bottom: 5px;
}

.comment{
   width: 400px;
   height: 50px;
   border: black;
   outline: none;
   padding-left: 25px;
   font-weight: 500;
   color: #666;
   border-radius: 50px;
}

.pseudo{
    border: 1px solid black;
}

.reference{
    border: 1px solid black;
}

.comment commentaire{
    border: 1px solid black;
}

.comment-left textarea{
    height: 140px;
    padding-left: 25px;
    padding-top: 15px;
    border-radius: 20px;
    border: 1px solid black;
}

.comment:focus{
    border: 2px solid #ff994f ;
}

.comment::placeholder{
    color: #a9a9a9;
}

.envoie{
    display: flex;
    align-items: center;
    padding: 15px 30px;
    font-size: 16px;
    color: #fff;
    gap: 10px;
    border: none;
    border-radius: 50px;
    background-color: orange;
    cursor: pointer;
}

.envoie:hover{
    transform: scale(1.05);
    color: orange; 
    background-color: white;
    border: 2px solid orange;
}

.comment-left button img{
    height: 15px;
}