@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    font-family: "Montserrat", sans-serif;
}

.liens li {
    list-style: none;
}

header a {
    text-decoration: none;
    color: #ffff;
    font-size: 1rem;
}

a:hover {
    color: orange;
}

/* Header */
header {
    position: relative;
    padding: 0 2rem;
    background-color: black;
    width: 100%;
    height: 59px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


header .logos{
    flex-grow: 1;
    display: block;
    display: flex;
    align-items: center;
    height: 50px;
}

header .logoEklypsse a {
    font-size: 1.5rem;
    font-weight: bold;
}
header .logos img {
    height: 45px;
    border-radius: 8%;
}

header .logos svg {
    width: 4%;
    margin: 0 8px;
}

header .liens {
    display: flex;
    flex-grow: 1;
    gap: 2rem;
}

header .action_btn {
    background-color: orange;
    color: #ffff;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2s ease;
}

header .action_btn:hover {
    transform: scale(1.05);
    color: orange; 
    background-color: #ffff;
    border: 2px solid orange;
}

header .action_btn:active {
    transform: scale(0.95);
}

/* language menu */

.menu-lang {
    margin-top: 5px;
    margin-right: 20px;
    position: relative;
}

.selected-lang {
    cursor: pointer;
    color: #ffff;
    display: flex;
    justify-content: space-between;
    line-height: 2;
    width: 110px;
}

.selected-lang:before { 
    content: '';
    display: block;
    width: 32px;
    height: 32px;
    background-image: url(https://flagsapi.com/FR/flat/32.png);
}

.menu-lang ul{
    margin: 0;
    padding: 0;
    background-color: #000000;
    border: 1px solid #000000;
    box-shadow: 0px 1px 10px rgba(207, 206, 206, 0.2);
    border-radius: 5px;
    display: none;
    position: absolute;
    top: 33px;
    left: -10px;
}

.menu-lang ul li {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.menu-lang ul li a {
    display: block;
    width: 150px;
    padding: 5px 10px;
}

.menu-lang ul li a:hover {
    background-color: #313131;
    color: #ffff;
}

.menu-lang ul li a:before {
    content: '';
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-right: 10px;
    vertical-align: middle;
    /*background-image: url(https://flagsapi.com/FR/flat/32.png);*/
}

.en:before {
    background-image: url(https://flagsapi.com/GB/flat/32.png);
}

.sp:before {
    background-image: url(https://flagsapi.com/ES/flat/32.png);
}

.menu-lang:hover ul{
    display: block;
}


.action-btn-container {
    position: relative;
    display: inline-block;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.action_btn {
    text-decoration: none;
    padding: 10px;
    background-color: #3e8e41;
    color: white;
    border-radius: 4px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: orange;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    flex-direction: column;
    margin-left: 40px;
    transform: translateX(-100%); /* Ensure it doesn't overflow to the right */
    border-radius: 10px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    font-size: 13px;
    display: block;
    
}
.dropdown-content a:hover {
    background-color: #f1f1f1;
    border-radius: 10px;
}

.dropdown:hover .dropdown-content {
    display: flex;
}

.dropdown:hover .action_btn {
    background-color: rgb(248, 184, 64);
    color: white;
}
