body {
    background-color: lightblue;
    font-family: Arial, sans-serif;
}

h1 {
    color: navy;
    display: block;
    margin: auto;
}
h2 {
    color : red; 
}
p {
    color : black;
}

p {
    font-size: 18px;
}
img{
    display: block;
    margin: auto;
}